[submodule "frontend"]
	path = frontend
	url = https://github.com/alikilicw/aircraft-production-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/alikilicw/aircraft-production-backend
